<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Group_3___Payroll_System.Properties.Settings.RPSDataBaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\RPSDataBase.accdb"
            providerName="System.Data.OleDb" />
        <add name="Group_3___Payroll_System.Properties.Settings.PayrollSystemConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\PayrollSystem.accdb"
            providerName="System.Data.OleDb" />
        <add name="Group_3___Payroll_System.Properties.Settings.PayrollSystemConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\x64\Debug\PayrollSystem.accdb"
            providerName="System.Data.OleDb" />
        <add name="Group_3___Payroll_System.Properties.Settings.PayrollSystemDatabaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\PayrollSystemDatabase.accdb"
            providerName="System.Data.OleDb" />
        <add name="Group_3___Payroll_System.Properties.Settings.PayrollSystemDatabaseConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\x64\Debug\PayrollSystemDatabase.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>